adium-theme-ubuntu==0.3.4
admin-multiupload==1.10
astroid==1.4.4
BeautifulSoup==3.2.1
bootstrap-admin==0.3.8
cairocffi==0.8.0
CairoSVG==1.0.22
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cssselect2==0.2.1
cycler==0.9.0
decorator==4.0.6
Django==1.11.10
django-filter==1.1.0
django-jet==1.0.7
django-material==1.2.2
django-model-report==0.2.1
django-multiupload==0.5.2
django-reporting==0.21
django-reports-admin==1.0.4
ecdsa==0.13
feedparser==5.2.1
google-api-python-client==1.4.1
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
jet==1.0
lazy-object-proxy==1.2.1
logilab-common==1.1.0
matplotlib==1.5.1
mygpoclient==1.7
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
mysqlclient==1.3.7
nose==1.3.7
numpy==1.11.0
oauth2client==4.1.2
paramiko==1.16.0
pdfrw==0.4
pexpect==4.0.1
Pillow==5.0.0
ptyprocess==0.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pygobject==3.20.0
PyICU==1.9.2
pylibacl==0.5.2
pylint==1.5.2
PyMySQL==0.7.2
pyodbc==3.0.7
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
pyparsing==2.0.3
PyPDF2==1.26.0
Pyphen==0.9.4
pysqlite==2.7.0
python-apt==1.1.0b1
python-dateutil==2.4.2
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
rsa==3.4.2
scikit-image==0.10.1
scipy==0.17.0
six==1.10.0
sorl-thumbnail==12.4.1
tinycss2==0.6.1
unity-lens-photos==1.0
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.0.1
WeasyPrint==0.42.2
webencodings==0.5.1
wrapt==1.8.0
xhtml2pdf==0.2.1
xlwt==0.7.4
